body {
  margin: 0;
  padding-top: 0;
}

#template-body {
  height: 100%;
}

.widget #template-body {
  padding-top: 0;
}

.wiki-navbar {
  position: fixed;
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);

  body.headroom--pinned &, body.headroom--top & {
    transform: translateY(64px);
    @media screen and (max-width: 39.9375em) {
      transform: translateY(48px);
    }
  }

  @media screen and (max-width: 39.9375em) {
    height: 48px;
    padding: 0;
  }
}


body.report {
  margin-top: 4em;
  @media screen and (max-width: 39.9375em) {
    margin-top: 3em;
  }

  @media print {
    margin-top: 0;
  }

  & .navigation {
    @media print {
      display: none;
    }
  }
}

body.widget {

  & .navigation {
    display: none;
  }

}

.wikilegis {
  height: calc(100vh - 4em);
}

.wikilegis__bill {
  height: calc(100vh - 4em);
}

.bill__amendments-wrapper {
  height: calc(100vh - 4em);
}

.wikilegis__alert {
  margin-top: 5em;
}
