th{
  color:black;
  white-space: normal !important;
}
tr{
  color:black;
}
.drill-icon{
  width: 10px;
  margin-right: 5px;
}
tr.drill-odd > td.drill-odd{
  background-color: #a0a0a0;
}
tr.drill-even > td.drill-even{
  background-color: #c9c9c9;
}
tr.drill-odd > td.drill-odd thead > tr,
tr.drill-odd > td.drill-odd thead > tr:hover,
tr.drill-even > td.drill-even thead > tr,
tr.drill-even > td.drill-even thead > tr:hover
{
  background-color: transparent;
}
