/* Login box related css */
.loginbox {
  margin-top: 10%;
  height: 80%;
  text-align: center;
  max-width: 350px;
  margin: 0 auto; }
  .loginbox .img-div {
    margin-bottom: 15px;
    text-align: center; }
  .loginbox img {
    max-width: 100%;
    height: auto; }
  .loginbox h1 {
    text-align: center; }
  .loginbox #authentication {
    max-width: 350px;
    text-align: center; }
    .loginbox #authentication fieldset {
      border: none; }
    .loginbox #authentication label {
      font-weight: normal;
      font-size: 15px; }
    .loginbox #authentication button {
      display: block;
      width: 100%;
      font-size: 16px;
      padding: 6px 12px; }
    .loginbox #authentication .checkbox {
      margin-top: 0px; }
    .loginbox #authentication #req-deformField4 {
      height: 0px;
      margin: 0;
      padding: 0;
      visible: false;
      display: none; }
    .loginbox #authentication input[type=password] {
      margin-bottom: 4px; }
