/* For ideas for styling the overlay, see
   http://jquerytools.github.io/demos/overlay/trigger.html */

.calltoaction-portlet-wrapper {

    /* overlay is hidden before loading */
    display: none;

    /* standard decorations */
    background: white;
    max-width: 280px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.calltoaction-portlet-wrapper .close{
  background-image: url(pb_close.png);
  position: absolute;
  right: -14px;
  top: -14px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.calltoaction-portlet-wrapper img{
  display: block;
  height: auto;
  max-width: 100%;
}

.calltoaction-portlet-wrapper img.tilted{
  margin-top: -20px;
  margin-left: -20px;
    /* Rotate div */
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.manager_right{
  left: inherit !important;
}

.calltoaction-portlet-wrapper .portletHeader{
  background: white;
  z-index: 999;
  position: relative;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.callToActionMain{
  padding: 20px 20px 10px 20px;
}
