@import '../bower_components/foundation-sites/scss/foundation';
@import '../bower_components/foundation-sites/scss/util/util';
@import 'settings.type';
@import 'settings.animation';
@import 'tools.animation';
@import 'tools.material-shadow';
@import 'settings.colors';
@import 'components.hamburguer';
@import 'components.navigation';
@import 'components.user-profile';

@include foundation-visibility-classes;

#template-body {
  position: relative;
}


.navigation {
  font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  line-height: inherit;
  z-index: 10000000;

  body.headroom--unpinned & {
    box-shadow: none;
  }

  i {
    display: inline-flex;
  }

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }

}
.navigation * {
  box-sizing: border-box;
}

.menu-list__link {
  font-size: inherit;
}

.search-form__input {
  font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
}

.user-profile {
  width: 3em;
  height: 3em;
  border: 0.3em solid;
  border-color: #123533;
  font-size: inherit;
  line-height: 4.6em;
  color: white;
  background-color: #16403e;

  .icon-user {
    font-size: 2em;
  }
}

